@using TravelK300.Models
@{
    ViewBag.Title = "TourDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AllTour tourDet = ViewBag.tourSingle;
}

    <section id="TourInfo" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tour-img">
                        <img style="width:100%" src="@tourDet.Photo" alt="Alternate Text" />
                    </div>
                    <div class="tour-content py-5">
                        <div class="d-flex justify-content-between mb-3">
                            <h2>@tourDet.Header </h2>
                            <span>@tourDet.Price Azn</span>
                        </div>
                        <p>@tourDet.Description</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    @foreach (AllTour trall in ViewBag.tourAll)
                    {
                        <div class="row my-3">

                            <div class="col-lg-4 trImage">
                                <img class="img-thumbnail" src="@trall.Photo" alt="Alternate Text" />
                            </div>
                            <div class="col-lg-8">
                                <div class="trContent">
                                    <h4><a href="@Url.Action("TourDetail","Home",new { id=trall.Id})">@trall.Header</a> </h4>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </section>

